<section class="rlb-pagination-demo" data-pagination-demo>
  <nav aria-label="Pagination">
    <ul class="rlb-pagination-list">
      <li>
        <a class="rlb-pagination-link rlb-pagination-link--prev" href="#" aria-label="Previous page" data-page="prev">
          <img src="../../../assets/images/chevron-left.svg" alt="" width="20" height="20" aria-hidden="true" />
          Previous
        </a>
      </li>
      <li>
        <a class="rlb-pagination-link" href="#" aria-label="Page 1" data-page="1">1</a>
      </li>
      <li>
        <a class="rlb-pagination-link" href="#" aria-label="Page 2" data-page="2">2</a>
      </li>
      <li>
        <a class="rlb-pagination-link" href="#" aria-label="Page 3" data-page="3" aria-current="page">3</a>
      </li>
      <li>
        <a class="rlb-pagination-link" href="#" aria-label="Page 4" data-page="4">4</a>
      </li>
      <li>
        <a class="rlb-pagination-link" href="#" aria-label="Page 5" data-page="5">5</a>
      </li>
      <li>
        <a class="rlb-pagination-link rlb-pagination-link--next" href="#" aria-label="Next page" data-page="next">
          Next
          <img src="../../../assets/images/chevron-right.svg" alt="" width="20" height="20" aria-hidden="true" />
        </a>
      </li>
    </ul>
  </nav>
</section>
