<section class="rlb-listbox-demo" data-listbox-demo>
  <h2 id="fruit-label">Choose a Fruit</h2>
  <p id="fruit-desc" class="rlb-listbox-description">Select one fruit from the list below.</p>
  <div
    role="listbox"
    aria-labelledby="fruit-label"
    aria-describedby="fruit-desc"
    class="rlb-listbox"
    tabindex="0"
    data-listbox="single"
  >
    <div role="option" id="fruit-apple" class="rlb-listbox__option" aria-selected="false">Apple</div>
    <div role="option" id="fruit-banana" class="rlb-listbox__option" aria-selected="false">Banana</div>
    <div role="option" id="fruit-cherry" class="rlb-listbox__option" aria-selected="false">Cherry</div>
    <div role="option" id="fruit-dragonfruit" class="rlb-listbox__option" aria-selected="false">Dragonfruit</div>
    <div role="option" id="fruit-elderberry" class="rlb-listbox__option" aria-selected="false">Elderberry</div>
    <div role="option" id="fruit-fig" class="rlb-listbox__option" aria-selected="false">Fig</div>
    <div role="option" id="fruit-grape" class="rlb-listbox__option" aria-selected="false" aria-disabled="true">Grape (unavailable)</div>
    <div role="option" id="fruit-honeydew" class="rlb-listbox__option" aria-selected="false">Honeydew</div>
  </div>
</section>
