<!-- Listbox component demos -->
<div class="section">
  <section class="rlb-listbox-demo" data-listbox-demo>
    <h2 id="fruit-label">Choose a Fruit</h2>
    <p id="fruit-desc" class="rlb-listbox-description">Select one fruit from the list below.</p>
    <div
      role="listbox"
      aria-labelledby="fruit-label"
      aria-describedby="fruit-desc"
      class="rlb-listbox"
      tabindex="0"
      data-listbox="single"
    >
      <div role="option" id="fruit-apple" class="rlb-listbox__option" aria-selected="false">Apple</div>
      <div role="option" id="fruit-banana" class="rlb-listbox__option" aria-selected="false">Banana</div>
      <div role="option" id="fruit-cherry" class="rlb-listbox__option" aria-selected="false">Cherry</div>
      <div role="option" id="fruit-dragonfruit" class="rlb-listbox__option" aria-selected="false">Dragonfruit</div>
      <div role="option" id="fruit-elderberry" class="rlb-listbox__option" aria-selected="false">Elderberry</div>
      <div role="option" id="fruit-fig" class="rlb-listbox__option" aria-selected="false">Fig</div>
      <div role="option" id="fruit-grape" class="rlb-listbox__option" aria-selected="false" aria-disabled="true">Grape (unavailable)</div>
      <div role="option" id="fruit-honeydew" class="rlb-listbox__option" aria-selected="false">Honeydew</div>
    </div>
  </section>
</div>

<div class="section">
  <section class="rlb-listbox-demo" data-listbox-demo>
    <h2 id="toppings-label">Choose Toppings</h2>
    <p id="toppings-desc" class="rlb-listbox-description">Select one or more toppings. Use Space to toggle, Shift+Arrow to select a range, Ctrl+A to select all.</p>
    <div
      role="listbox"
      aria-labelledby="toppings-label"
      aria-describedby="toppings-desc"
      aria-multiselectable="true"
      class="rlb-listbox"
      tabindex="0"
      data-listbox="multi"
    >
      <div role="option" id="topping-pepperoni" class="rlb-listbox__option" aria-selected="false">Pepperoni</div>
      <div role="option" id="topping-mushrooms" class="rlb-listbox__option" aria-selected="false">Mushrooms</div>
      <div role="option" id="topping-onions" class="rlb-listbox__option" aria-selected="false">Onions</div>
      <div role="option" id="topping-sausage" class="rlb-listbox__option" aria-selected="false">Sausage</div>
      <div role="option" id="topping-peppers" class="rlb-listbox__option" aria-selected="false">Bell Peppers</div>
      <div role="option" id="topping-olives" class="rlb-listbox__option" aria-selected="false" aria-disabled="true">Olives (unavailable)</div>
      <div role="option" id="topping-bacon" class="rlb-listbox__option" aria-selected="false">Bacon</div>
      <div role="option" id="topping-pineapple" class="rlb-listbox__option" aria-selected="false">Pineapple</div>
      <div role="option" id="topping-spinach" class="rlb-listbox__option" aria-selected="false">Spinach</div>
      <div role="option" id="topping-jalapeños" class="rlb-listbox__option" aria-selected="false">Jalape&ntilde;os</div>
    </div>
  </section>
</div>
