<section class="rlb-faceted-filter" aria-label="Product filters">
  <div class="rlb-faceted-filter__header">
    <h2 class="rlb-faceted-filter__title">Filters</h2>
    <button type="button" class="rlb-faceted-filter__clear" data-clear-all>Clear all filters</button>
  </div>

  <div class="rlb-faceted-filter__live-region" aria-live="polite" aria-atomic="true" data-result-count>
    Showing 48 results
  </div>

  <!-- Category Filter Group -->
  <fieldset class="rlb-faceted-filter__group">
    <legend class="rlb-faceted-filter__group-legend" id="filter-group-category">Category</legend>
    <button
      type="button"
      class="rlb-faceted-filter__toggle"
      aria-expanded="true"
      aria-labelledby="filter-group-category"
      data-toggle="category"
    >
      <span class="rlb-faceted-filter__toggle-label">Category</span>
      <img class="rlb-faceted-filter__toggle-icon" src="../../assets/images/chevron-down.svg" alt="" width="18" height="18" aria-hidden="true" />
    </button>
    <div class="rlb-faceted-filter__options" data-group="category">
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="category" value="shirts" data-count="14" />
        <span class="rlb-faceted-filter__option-name">Shirts</span>
        <span class="rlb-faceted-filter__option-count" aria-label="14 results">(14)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="category" value="pants" data-count="10" />
        <span class="rlb-faceted-filter__option-name">Pants</span>
        <span class="rlb-faceted-filter__option-count" aria-label="10 results">(10)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="category" value="shoes" data-count="16" />
        <span class="rlb-faceted-filter__option-name">Shoes</span>
        <span class="rlb-faceted-filter__option-count" aria-label="16 results">(16)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="category" value="accessories" data-count="8" />
        <span class="rlb-faceted-filter__option-name">Accessories</span>
        <span class="rlb-faceted-filter__option-count" aria-label="8 results">(8)</span>
      </label>
    </div>
  </fieldset>

  <!-- Color Filter Group -->
  <fieldset class="rlb-faceted-filter__group">
    <legend class="rlb-faceted-filter__group-legend" id="filter-group-color">Color</legend>
    <button
      type="button"
      class="rlb-faceted-filter__toggle"
      aria-expanded="true"
      aria-labelledby="filter-group-color"
      data-toggle="color"
    >
      <span class="rlb-faceted-filter__toggle-label">Color</span>
      <img class="rlb-faceted-filter__toggle-icon" src="../../assets/images/chevron-down.svg" alt="" width="18" height="18" aria-hidden="true" />
    </button>
    <div class="rlb-faceted-filter__options" data-group="color">
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="color" value="blue" data-count="12" />
        <span class="rlb-faceted-filter__option-name">Blue</span>
        <span class="rlb-faceted-filter__option-count" aria-label="12 results">(12)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="color" value="red" data-count="9" />
        <span class="rlb-faceted-filter__option-name">Red</span>
        <span class="rlb-faceted-filter__option-count" aria-label="9 results">(9)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="color" value="black" data-count="15" />
        <span class="rlb-faceted-filter__option-name">Black</span>
        <span class="rlb-faceted-filter__option-count" aria-label="15 results">(15)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="color" value="white" data-count="12" />
        <span class="rlb-faceted-filter__option-name">White</span>
        <span class="rlb-faceted-filter__option-count" aria-label="12 results">(12)</span>
      </label>
    </div>
  </fieldset>

  <!-- Price Range Filter Group -->
  <fieldset class="rlb-faceted-filter__group">
    <legend class="rlb-faceted-filter__group-legend" id="filter-group-price">Price Range</legend>
    <button
      type="button"
      class="rlb-faceted-filter__toggle"
      aria-expanded="true"
      aria-labelledby="filter-group-price"
      data-toggle="price"
    >
      <span class="rlb-faceted-filter__toggle-label">Price Range</span>
      <img class="rlb-faceted-filter__toggle-icon" src="../../assets/images/chevron-down.svg" alt="" width="18" height="18" aria-hidden="true" />
    </button>
    <div class="rlb-faceted-filter__options" data-group="price">
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="price" value="under-25" data-count="18" />
        <span class="rlb-faceted-filter__option-name">Under $25</span>
        <span class="rlb-faceted-filter__option-count" aria-label="18 results">(18)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="price" value="25-50" data-count="14" />
        <span class="rlb-faceted-filter__option-name">$25 - $50</span>
        <span class="rlb-faceted-filter__option-count" aria-label="14 results">(14)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="price" value="50-100" data-count="10" />
        <span class="rlb-faceted-filter__option-name">$50 - $100</span>
        <span class="rlb-faceted-filter__option-count" aria-label="10 results">(10)</span>
      </label>
      <label class="rlb-faceted-filter__option">
        <input type="checkbox" name="price" value="over-100" data-count="6" />
        <span class="rlb-faceted-filter__option-name">Over $100</span>
        <span class="rlb-faceted-filter__option-count" aria-label="6 results">(6)</span>
      </label>
    </div>
  </fieldset>
</section>
