.accordion__item [role="region"] {
  display: none;
}

.accordion__item:has(button[aria-expanded="true"]) [role="region"] {
  display: block;
}



/* STYLES FOR ACCORDION COMPONENT */
/* For basic styling of the accordion component */
/* Demo only */

.accordion-trigger:focus-visible {
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

.accordion-trigger {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  font-size: 1rem;
  background: var(--gray-200);
  cursor: pointer;
  border: 1px solid var(--border-color);
}

.accordion-trigger::after {
  content: "▼";
  float: right;
  color: var(--text-color-subtle);
}

.accordion-trigger[aria-expanded="true"]::after {
  content: "▲";
}

.accordion__item {
  /* border-bottom: 1px solid var(--border-color); */
  padding: 0.5rem 0;
}

.accordion__item [role="region"] {
  padding: 0.5rem;
  background: var(--background-color);
  border: 1px solid var(--border-color);
}
