<button id="modal-open" class="rl-modal__trigger" aria-haspopup="dialog" aria-controls="modal-dialog">Open modal</button>

<div id="modal-dialog" class="rl-modal" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-desc" hidden>
  <div class="rl-modal__backdrop" data-backdrop></div>
  <div class="rl-modal__panel" tabindex="-1">
    <h2 id="modal-title">Modal title</h2>
    <p id="modal-desc">This is a demo modal. Focus should be trapped while open.</p>
    <a href="#" class="rl-modal__link">Focusable link</a>
    <button id="modal-close" class="rl-modal__close" aria-label="Close modal">
      <img src="../../assets/images/close.svg" alt="" width="20" height="20" aria-hidden="true" />
    </button>
  </div>
</div>
