<nav class="rlb-mega" aria-label="Primary">
  <ul class="rlb-mega__main">
    <li class="rlb-mega__item">
      <button type="button" class="rlb-mega__btn" aria-expanded="false" aria-controls="mega-navigation-submenu-1">
        Products
        <img class="rlb-mega__icon" src="../../assets/images/chevron-down.svg" alt="" width="18" height="18" aria-hidden="true" />
      </button>
      <ul id="mega-navigation-submenu-1" class="rlb-mega__submenu" hidden>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Enterprise</a></li>
      </ul>
    </li>
    <li class="rlb-mega__item">
      <button type="button" class="rlb-mega__btn" aria-expanded="false" aria-controls="mega-navigation-submenu-2">
        Solutions
        <img class="rlb-mega__icon" src="../../assets/images/chevron-down.svg" alt="" width="18" height="18" aria-hidden="true" />
      </button>
      <ul id="mega-navigation-submenu-2" class="rlb-mega__submenu" hidden>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Design systems</a></li>
        <li><a href="#">Analytics</a></li>
      </ul>
    </li>
    <li class="rlb-mega__item"><a class="rlb-mega__link" href="#">Support</a></li>
  </ul>
</nav>
