<div class="rlb-dropdown" data-dropdown>
  <span id="drp-label" class="rlb-dropdown__label">Select a city</span>

  <div class="rlb-dropdown__control">
    <div
      id="drp-trigger"
      class="rlb-dropdown__trigger"
      role="combobox"
      aria-haspopup="listbox"
      aria-labelledby="drp-label"
      aria-controls="drp-listbox"
      aria-expanded="false"
      aria-activedescendant=""
      tabindex="0"
    >
      <span class="rlb-dropdown__value" data-value>Select…</span>
      <img class="rlb-dropdown__icon" src="../../../assets/images/chevron-down.svg" alt="" width="20" height="20" aria-hidden="true" />
    </div>

    <ul
      id="drp-listbox"
      class="rlb-dropdown__listbox"
      role="listbox"
      aria-labelledby="drp-label"
      hidden
    >
      <li id="opt-ott" role="option" class="rlb-dropdown__option" aria-selected="false">Ottawa</li>
      <li id="opt-mon" role="option" class="rlb-dropdown__option" aria-selected="false">Montreal</li>
      <li id="opt-tor" role="option" class="rlb-dropdown__option" aria-selected="false">Toronto</li>
    </ul>
  </div>

  <p class="rlb-dropdown__help" id="drp-help">Use Arrow keys to move, Enter/Space to select, Escape to close.</p>
</div>
