<nav class="rlb-breadcrumb" aria-label="breadcrumb">
  <ol class="rlb-breadcrumb__list">
    <li class="rlb-breadcrumb__item"><a class="rlb-breadcrumb__link link-underlined" href="/home">Home</a></li>
    <li class="rlb-breadcrumb__item"><a class="rlb-breadcrumb__link link-underlined" href="/products">Products</a></li>
    <li class="rlb-breadcrumb__item"><a class="rlb-breadcrumb__link link-underlined" href="/products/electronics">Electronics</a></li>
    <li class="rlb-breadcrumb__item rlb-breadcrumb__current" aria-current="page">Cameras</li>
  </ol>
</nav>
